<div class="host bg">
    <div class="container-fluid mt-3">

        <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="far fa-check-circle me-3"></i> <small>Votre compte est bien crée</small>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> -->

        <div class="row justify-content-center mb-5">
            <form class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-exclamation-triangle me-3"></i> <small>Confirmation de mot de passe incorrect</small>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> -->

                <div hidden class="form-group mb-3">
                    <label class="mb-2">Id Voiture :</label>
                    <input type="text" [(ngModel)]="currentVoiture.idVoiture" name="idVoiture" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label class="mb-2">Nom Voiture :</label>
                    <input type="text" [(ngModel)]="currentVoiture.nomVoiture" name="nomVoiture" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label class="mb-2">Prix Voiture :</label>
                    <input type="number" [(ngModel)]="currentVoiture.prixVoiture" name="prixVoiture" class="form-control">
                </div>

           <!--       <div class="form-group mb-3">
                    <label class="mb-2">Image :</label>
                    <input type="file" [(ngModel)]="ImageVoiture" name="logo" class="form-control">
                </div>   -->
                <div class="form-group mb-3">
                    <label class="mb-2">Modele :</label>
                    
                    <select class="form-control form-control-lg" id="idMod" name="idMod" [(ngModel)]="updatedModId">
                        <option *ngFor="let mod of modeles" [value]="mod.idMod">
                            {{mod.nomMod}}
                        </option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label class="mb-2">Date création :</label>
                    <input type="date" [ngModel]="currentVoiture.dateCreation | date: 'yyyy-MM-dd'"(ngModelChange)=" currentVoiture.dateCreation= $event" name="dateCreation"class="form-control">
                </div> 



                <div class="d-flex justify-content-center mb-2">
                    <button type="submit" (click)="updateVoiture()" class="btn"
                        style="background-color:#005a81; color: #fff">Modifier</button>
                </div>
            </form>
        </div>

        <div>
            <a routerLink="/home/listVoiture" class="btn"><i class="fas fa-arrow-left me-2"></i> retour a la liste</a>
        </div>
    </div>
</div>