<div >
    <fieldset>
        <div>
            <app-update-modele 
            [modele]="updatedMod" 
            [ajout]="ajout"
            (modeleUpdated)= "modeleUpdated($event)">
            </app-update-modele>
        </div>
    </fieldset>
      <table>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom Modele</th>
            <th scope="col">Modifier</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mod of modeles ;let i= index">
            <td>{{mod.idMod}}</td>
            <td>{{mod.nomMod}}</td>
            <td><a  class="btn btn-sm me-2" style="background-color: #005a81; color: #FFF;" (click)="updateMod(mod)"><i class="fas fa-pen"></i></a></td>


          

          </tr>
        </tbody>
      </table>
  

  </div>